body {
    background-color: rgb(186,222,245);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

nav li a{
  text-decoration: none;
  font-family: 'Space Mono', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 5px;
  padding-bottom: 2px;
  color: white;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s ease;
  white-space: nowrap;
  width: 0;
}

a:visited{
  text-decoration: none;
}

a:link{
  text-decoration: none;
}


@media screen and (max-width:480px){
  .headlineOne{
    font-size: 1.8em;
  }
  .bioText{
    font-size: .8em;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    line-height: 30px;
    color: rgb(0,98,148);
    letter-spacing: 1px;
    text-align: left;
    margin: 0 auto;
    text-align: justify;
  }
  .contentRowAbout{
    height: 100%;
    min-width: 80%;
    margin: 0 auto;
  }
  .contentRowProject{
    height: 100%;
    min-width: 80%;
    margin: 0 auto;
  }
  .contentRowContact{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 4%;
  }
  .contentRowQuotes{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  div.quote{
    font-size: .5em;
    padding: 0;
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    line-height: .8em;
    color: rgb(0,98,148);
    letter-spacing: .5px;
    text-align: left;
  }

  input {
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: rgb(0,98,148);
    width: 250px;
    height: 40px;
    background: transparent;
    border-bottom: 3px solid rgb(0,98,148);
    padding-left: 0;
    letter-spacing: 2px;
    outline: none;
  }

  textarea{
    background: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: rgb(0,98,148);
    border: 0;
    border-bottom: 3px solid rgb(0,98,148);
    outline: none;
    padding-left: 0;
    letter-spacing: 2px;
    line-height: 32px;
  }
.contentRowContact{
  max-width: 100%;
}


}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 54px;
  font-weight: 400;
  color: rgb(255,255,255);
  letter-spacing: 10px;
}

input {
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0,98,148);
  width: 400px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(0,98,148);
  padding-left: 15px;
  letter-spacing: 2px;
  outline: none;
}

textarea{
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: rgb(0,98,148);
  border: 0;
  border-bottom: 3px solid rgb(0,98,148);
  outline: none;
  padding-left: 15px;
  letter-spacing: 2px;
  line-height: 32px;
}

button{
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  background-color: rgb(0,98,148);
  color: rgb(255, 255, 255);
  padding: 5px 18px;
  border-radius: 50px;
  border: 0;
  letter-spacing: 3px;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

button:hover{
  background-color: rgb(255,255,255);
  color: rgb(0,98,148);
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 0;
}

.navWrapper{
  margin-top: 15%;
  position: fixed;
  padding: 20px 50px 15px 30px;
}

ul{
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li{
  margin-bottom: 25px;
}

.activeLink{
  color: rgb(0,98,148);
  border-bottom: 3px solid rgb(0,98,148);
  pointer-events: none;
  cursor: default;
}

a.homeLink:hover{
  text-decoration: none;
  color: rgb(186,222,245);
  border-bottom: 3px solid rgb(186,222,245);
}

a.aboutLink:hover{
  text-decoration: none;
  color: rgb(172,163,223);
  border-bottom: 3px solid rgb(172,163,223);
}

a.projectLink:hover{
  text-decoration: none;
  color: rgb(249,192,197);
  border-bottom: 3px solid rgb(249,192,197);
}

a.contactLink:hover{
  text-decoration: none;
  color: rgb(255,234,126);
  border-bottom: 3px solid rgb(255,234,126);
}

a.quotesLink:hover{
  text-decoration: none;
  color: rgb(69,84,65);
  border-bottom: 3px solid rgb(69,84,65);
}

.contentRow{
  height: 100vh;
  max-width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 15%;
}

.contentRowAbout{
  height: 100vh;
  width: 35vw;
  margin: 0 auto;
  padding-top: 15%;
}

.contentRowProjects{
  height: 100vh;
  width: 60vw;
  margin: 0 auto;
  padding-top: 13%;
}

.contentRowContact{
  height: 100vh;
  width: 35vw;
  margin: 0 auto;
  padding-top: 4%;
}

 .contentTwo{
  width: 400px;
  height: 561px;
 }

.textBoxOne{
  font-size: 12px;
  padding-right: 20px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 20px;
  color: rgb(0,98,148);
  letter-spacing: 1px;
  text-align: left;
}

.bioText{
  font-size: 1em;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 32px;
  color: rgb(0,98,148);
  letter-spacing: 1px;
  text-align: left;
  margin: 0 auto;
}

.headlineOne{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 4px;
  color: rgb(0,98,148);
}

img{
  border: 1.5px dotted rgb(0,98,148);
}

::-webkit-input-placeholder{
  font-size: 1.1em;
  letter-spacing: 2px;
  color: rgba(0,98,148,.5);
}

::-webkit-textarea-placeholder{
  font-size: 1.1em;
  letter-spacing: 2px;
  color: rgba(0,98,148,.5);
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-caption{
  text-shadow: none;
}

.carousel .item{
  border: 0;
  min-height: 300px;
}

div.quote{
  font-size: 1.2em;
  padding: 0;
  font-family: 'Space Mono', sans-serif;
  font-weight: 400;
  line-height: 36px;
  color: rgb(0,98,148);
  letter-spacing: .5px;
  text-align: left;
}

.contentRowQuotes{
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 13%;
}

.quoteBy{
  font-family: Poppins, sans-serif;
  color: rgb(0,98,148);
  font-style: normal;
  font-weight: 700;
  padding-top: 5px;
  letter-spacing: 3px;
  font-size: .8em;
  padding-bottom: 1px;
  text-transform: uppercase;
}

footer{
  background-color: rgb(0,98,148);
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer{
  margin: 0 auto;
  color: rgb(255,255,255);
  font-family: "Poppins", sans-serif;
  font-size: .8em;
  letter-spacing: .3em;
}
