body {
    background-color: rgb(186,222,245);
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

a{
  text-decoration: none;
  color: white;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 54px;
  font-weight: 400;
  color: rgb(255,255,255);
  letter-spacing: 10px;
}

input {
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(0,98,148);
  width: 400px;
  height: 50px;
  background: transparent;
  border-bottom: 3px solid rgb(0,98,148);
  padding-left: 15px;
  letter-spacing: 2px;
  outline: none;
}

textarea{
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  color: rgb(0,98,148);
  border: 0;
  border-bottom: 3px solid rgb(0,98,148);
  outline: none;
  padding-left: 15px;
  letter-spacing: 2px;
  line-height: 32px;
}

button{
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  background-color: rgb(0,98,148);
  color: rgb(255, 255, 255);
  padding: 5px 18px;
  border-radius: 50px;
  border: 0;
  letter-spacing: 3px;
}

a.headerHover{
  text-decoration: none;
  color: white;
}

a.headerHover:hover{
  color: rgb(0, 98, 148);
}

h1.header{
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navWrapper{
  position: fixed;
}

ul{
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li{
    margin-bottom: 25px;
}

li a{
  font-family: 'Space Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  letter-spacing: 5px;
  text-decoration: none;
  padding-bottom: 2px;
  }

li.active a.homeLink{
  color: rgb(0,98,148);
  border-bottom: 3px solid rgb(0,98,148);
  border-top: 3px solid rgb(0,98,148);

}

li.active a.aboutLink{
  color: rgb(0,98,148);
  border-bottom: 3px solid rgb(0,98,148);
  border-top: 3px solid rgb(0,98,148);

}

li.active a.projectLink{
  color: rgb(0,98,148);
  border-bottom: 3px solid rgb(0,98,148);
  border-top: 3px solid rgb(0,98,148);

}

li.active a.contactLink{
  color: rgb(0,98,148);
  border-bottom: 3px solid rgb(0,98,148);
  border-top: 3px solid rgb(0,98,148);
}

a.homeLink:hover{
  text-decoration: none;
  color: rgb(186,222,245);
  border-bottom: 3px solid rgb(186,222,245);
  border-top: 3px solid rgb(186,222,245);

}

a.aboutLink:hover{
  text-decoration: none;
  color: rgb(172,163,223);
  border-bottom: 3px solid rgb(172,163,223);
  border-top: 3px solid rgb(172,163,223);
}

a.projectLink:hover{
  text-decoration: none;
  color: rgb(249,192,197);
  border-bottom: 3px solid rgb(249,192,197);
  border-top: 3px solid rgb(249,192,197);
}

a.contactLink:hover{
  text-decoration: none;
  color: rgb(255,234,126);
  border-bottom: 3px solid rgb(255,234,126);
  border-top: 3px solid rgb(255,234,126);
}

.project{
position: relative;
  top: 0;
  left: 127px;
  right: 0;
}

.about{
  position: relative;
    top: 0;
    left: 175px;
}

.matt{
  position: relative;
  top: 0;
  left: 175px;
}

.contact{
  position: relative;
  top: 0;
  left: 108px;
  right: 0;
}

span.t{
  color: rgb(0,98,148);

}

span.dot{
  color: rgb(0,98,148);

}


.whiteSpace{
  max-width: 100%;
  max-height: 100%;
}

.contentRow{
  height: 100vh;
  max-width: 35vw;
  margin: 0 auto;
}

.contentRowAbout{
  height: 80vh;
  width: 50vw;
  margin: 0 auto;
}

.contentRowProjects{
  margin-top: 100px;
}

.contentRowContact{
  max-width: 35vw;
  max-height: 100vw;
  margin: 0 auto;
}

 .contentOne{

 }

 .contentTwo{
  width: 400px;
  height: 561px;
 }

.textBoxOne{
  font-size: 12px;
  /*border-right: 5px solid rgb(0,98,148);
  border-top: 5px solid rgb(0,98,148);*/
  padding: 18px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 20px;
  /*color: rgb(0,98,148);*/
  color: rgb(0,98,148);
  letter-spacing: 1px;
  text-align: left;
}

.bioText{
  font-size: 1em;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  line-height: 32px;
  /*color: rgb(0,98,148);*/
  color: rgb(0,98,148);
  letter-spacing: 1px;
  text-align: left;
  margin: 0 auto;
}

.headlineOne{
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 4px;
  color: rgb(0,98,148);
}

.aboutMeWhiteSpace{
}

img{
  border: .5px solid rgb(0,98,148);
}

::-webkit-input-placeholder{
  font-size: 1.1em;
  letter-spacing: 2px;
  color: rgba(0,98,148,.5);
}

::-webkit-textarea-placeholder{
  font-size: 1.1em;
  letter-spacing: 2px;
  color: rgba(0,98,148,.5);
}
